*
{font-family:"Copperplate", cursive, sans-serif;
  box-sizing: border-box;
}

	.title {
  width: 90%;
  height: 100px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 300%;
  }

 .columns{
    position: relative;
    background-color: #b2ad7f;
    margin:20px;
    border:1px solid black;
   }

   .columns-title{
    position: absolute;
    top: 0;
    right: 0;
   	width:30%;
   	border: 1px solid black;
   	text-align: center;
   	font-size: 120%;
   	
   }

  

   .text{
   	margin:10px;
   	margin-top:40px;
   	clear:both;
   }

   .row {
    width: 90%;
    border: 10px;
    margin-right: auto;
    margin-left: auto;
    padding:10px;
   }
   #chicken{background-color: #feb236;}
   #beef{background-color: #d64161; color: yellow;}
   #sushi{background-color: #ff7b25;}
   

 /*Desktop*/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    background-color: white;
    width: 33.33%;
  }
}

  /*Tablet*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    background-color: white;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

 /*Mobile*/
@media (max-width: 767px) {.col-sm-12 {
    float: left;
    background-color: white;
    width: 100%;}
}
